@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--content-padding);
  margin: 0px;
  padding: 0px 20px 20px 20px;  
}

.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
